/.trash
/.vscode
/.obsidian/*.json
/.obsidian/plugins/obsidian-completr/scanned_words.txt
/.obsidian/snippets
/.obsidian/themes
**/data.json
conflict-files-obsidian-git.md
.obsidian/workspace
node_modules
