.trash
.vscode
**/data.json
node_modules

conflict-files-obsidian-git.md

# Obsidian Plugins
.obsidian/plugins
.obsidian/workspace.json
.obsidian/appearance.json
.obsidian/community-plugins.json
.obsidian/core-plugins.json
.obsidian/icons

xPN
xEDU