.callout[data-callout="hint"] {
	--callout-icon: lucide-lightbulb;
	--callout-color: 255, 215, 0;
}

.callout[data-callout="def"] {
	--callout-icon: lucide-pencil-ruler;
	--callout-color: 155, 155, 255;
}

.callout[data-callout="satz"] {
	--callout-icon: lucide-book-plus;
	--callout-color: 255, 155, 155;
}

blockquote,
.callout {
	font-family: "Courier New", Courier, monospace;
	/* Monospace-Schriftart */
	letter-spacing: 0;
	/* Standard-Buchstabenabstand */
	word-spacing: normal;
	font-feature-settings: "liga" 0, "calt" 0;
	/* Ligaturen deaktivieren */
	line-height: 1.5;
	/* Optimale Zeilenhöhe */
}

blockquote code,
.callout code {
	font-family: "Courier New", Courier, monospace;
	/* Einheitliche Schriftart */
	white-space: pre-wrap;
	/* Verhindert überfließenden Text */
	letter-spacing: normal;
	word-spacing: normal;
}

.callout {
	font-family: inherit;
	/* Vererbt die Standard-Schriftart */
	letter-spacing: normal;
	font-feature-settings: "liga" 0;
	/* Ligaturen deaktivieren */
}