.callout[data-callout="hint"] {
	--callout-icon: lucide-lightbulb;
	--callout-color: 255, 215, 0;
}

.callout[data-callout="def"] {
	--callout-icon: lucide-pencil-ruler;
	--callout-color: 110, 110, 220;
}

.callout[data-callout="satz"] {
	--callout-icon: lucide-book-plus;
	--callout-color: 115, 0, 255;
}