.theme-dark mjx-container[display="true"] {
	text-align: center !important;
	color: #FFDAA2;
}

.theme-light mjx-container[display="true"] {
	text-align: center !important;
	color: #00046c;
}

mjx-container[display="true"] {
  font-size: 1.5em;
}


