.theme-dark mjx-container[display="true"] {
	color: #FFDAA2;
}

.theme-light mjx-container[display="true"] {
	color: #00046c;
}

mjx-container[display="true"] {
  text-align: center !important;
  font-size: 1.3em;
}


