.true {
	width: 24px;
	height: 20px;
	font-size: 15px;
	color: white;
	background-color: forestgreen;
	text-align: center;
	border: 2px black solid;
	padding: 0px 0px 21px 0px;

}

.true:before {
	content: '✔';
}

.false {
	width: 24px;
	height: 20px;
	font-size: 15px;
	color: white;
	background-color: firebrick;
	text-align: center;
	border: 2px black solid;
	padding: 0px 0px 21px 0px;
}

.false:before {
	content: '✖';
}